@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #f5deb3;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #8b4513;
    color: #f5deb3;
    text-align: center;
    padding: 1rem 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1000px;
}

.photo {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #8b4513;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.photo::before {
    content: attr(data-index);
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(139, 69, 19, 0.7);
    color: #f5deb3;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.photo.cracked::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cracked-glass.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.photo.cracked::after {
    opacity: 1;
}

@media (max-width: 768px) {
    .photos-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .photos-container {
        grid-template-columns: 1fr;
    }
}

.letter-footer {
    text-align: center;
    margin-top: 2rem;
}

.next-page {
    display: inline-block;
    color: #f5deb3;
    background-color: #8b4513;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.next-page:hover {
    background-color: #a0522d;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}